<div class="ui two column grid container"> 
    <div class="row"> 
        <div class="nine wide center aligned column"> 
            <div id="refresh_indicators" class="ui olive button" onClick="DoleticUIModule.drawGraphs();">Actualiser les indicateurs</div> 
            <div class="row" id="graphs">
                <div class="ui horizontal divider" id="div_title"> 
                    
                </div> 
                <div class="plotly-graph" id="div_graph">
                    
                </div>
                <div class="ui horizontal divider" id="ag_title"> 
                    
                </div> 
                <div class="plotly-graph" id="ag_graph">
                    
                </div>
                <div class="ui horizontal divider" id="insc_title"> 
                    
                </div> 
                <div class="plotly-graph" id="insc_graph">
                    
                </div>
            </div>
        </div>
        <div class="seven wide column"> 
            <div class="ui horizontal divider"> 
                Adhésions invalides (administrateurs)
            </div>
            <div class="row"> 
                <table class="ui very basic single line striped table">
                    <thead>
                        <tr>
                            <th>Pôle</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id="invalid_body">
                        <!-- INVALID MEMBERSHIPS LIST GOES THERE -->
                    </tbody>
                </table>
            </div>
            <div class="ui horizontal divider"> 
                Adhésions invalides (intervenants)
            </div>
            <div class="row">
                <table class="ui very basic single line striped table">
                    <thead>
                        <tr>
                            <th>Département INSA</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id="invalid_int_body">
                        <!-- INVALID MEMBERSHIPS LIST GOES THERE -->
                    </tbody>
                </table>
            </div>
            <div class="ui horizontal divider"> 
                Indicateurs RH
            </div>
            <div class="row"> 
                <table class="ui very basic single line striped table">
                    <thead>
                        <tr>
                            <th>Indicateur</th>
                            <th>Actuel</th>
                            <th>Objectif</th>
                        </tr>
                    </thead>
                    <tbody id="indicators_body">
                        <!-- INDICATORS LIST GOES THERE -->
                    </tbody>
                </table>
            </div>
            <div class="ui horizontal divider"> 
                Gestion des AG de Recrutement
            </div> 
            <div class="ui stackable grid container"> 
                <div class="row">
                    <div class="center aligned column">
                        <div id="addag_modal_btn" class="ui green button" onClick="DoleticUIModule.showNewAGRForm();">Ajouter une AG de recrutement</div> 
                    </div>
                </div>
                <div class="row" id="agr_table_container"> 
                </div>
                <div class="row">
                    <div class="ui modal" id="agr_form_modal"> 
                        <div class="ui segment">
                            <form class="ui form">
                                <h4 class="ui dividing header">Ajouter une AGR</h4>
                                <div id="agr_field" class="sxiteen wide required field"> 
                                    <label>Date</label> 
                                    <input id="agr" placeholder="Nom..." type="text"/> 
                                </div> 
                                <div id="agr_pr_field" class="sxiteen wide required field"> 
                                    <label>Etudiants présents</label> 
                                    <input id="agr_pr" placeholder="Présences..." type="number"/> 
                                </div> 
                                <div class="ui hr_center small buttons"> 
                                    <div id="abort__agr_btn" class="ui button" onClick="DoleticUIModule.cancelNewAGRForm();">Annuler</div> 
                                    <div class="or" data-text="ou"></div> 
                                    <div id="add_agr_btn" class="ui green button" onClick="DoleticUIModule.insertNewAGR();">Ajouter</div> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>