<div class="ui fluid card" href="http://etic.com">
    <div class="content">
        <div class="header">Payer sa cotisation</div>
        <div class="meta">
            <div class="ui label">
            <i class="child icon"></i> Pauline GESLIN
            </div>
            <div class="ui yellow label">
                <i class="warning sign icon"></i> Haute
            </div>
        </div>
    </div>
</div>
<div class="ui fluid card" href="http://etic.com">
    <div class="content">
        <div class="ui right floated center aligned">
            <i class="wait big icon"></i>
            <div>15/10/2016</div>
        </div>
        <div class="header">Appeler EY</div>
        <div class="meta">
            <div class="ui label">
                <i class="child icon"></i> Martin DELBECQUE
            </div>
            <div class="ui red label">
                <i class="warning sign icon"></i> Critique
            </div>
            <div class="ui purple label">
                <i class="users icon"></i> Tâche partagée
            </div>
        </div>
    </div>
</div>
<div class="ui fluid card" href="http://etic.com">
    <div class="content">
        <div class="ui right floated center aligned">
            <i class="calendar big icon"></i>
            <div>16/10/2016</div>
        </div>
        <div class="header">Réunion Pole DSI</div>
        <div class="meta">
            <div class="ui label">
                <i class="child icon"></i> Nicolas Sorin
            </div>
            <div class="ui brown label">
                <i class="marker icon"></i> Salle de réunion
            </div>
            <div class="ui green label">
                <i class="checkmark icon"></i> Vous participez
            </div>
        </div>
    </div>
</div>
<div class="ui fluid card" href="http://etic.com">
    <div class="content">
        <div class="ui right floated center aligned">
            <i class="calendar big icon"></i>
            <div>21/10/2016</div>
        </div>
        <div class="header">Formation HTML</div>
        <div class="meta">
            <div class="ui label">
                <i class="child icon"></i> Nicolas Sorin
            </div>
            <div class="ui brown label">
                <i class="marker icon"></i> Département IF
            </div>
            <div class="ui orange label">
                <i class="help icon"></i> Participation incertaine
            </div>
        </div>
    </div>
</div>