<div class="ui two column grid container">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui buttons">
                <div id="addsollic_modal_btn" class="ui green button" onClick="DoleticUIModule.showNewProjectForm();">
                    Ajouter une sollicitation
                </div>
                <div id="refresh_project_btn" class="ui olive button" onClick="DoleticUIModule.fillProjectsList();">
                    Actualiser
                    la
                    liste
                </div>
                <div id="excel_project_btn" class="ui yellow button" onClick="alert('Fonction non implémentée...')">
                    Exporter au
                    format Excel
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column" id="sollic_table_container">
            <!-- SOLLIC LIST WILL GO THERE -->
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="ui modal" id="user_form_modal">
    <div class="ui segment">
        <form id="sollic_form" class="ui form vertical segment">
            <h4 class="ui dividing header">Ajout d'une sollicitation</h4>
            <div class="fields">
                <div id="name_field" class="eight wide required field">
                    <label>Nom</label>
                    <input id="name" placeholder="Nom..." type="text"/>
                </div>
                <div id="description_field" class="eight wide required field">
                    <label>Description</label>
                    <input id="description" placeholder="Description..." type="text"/>
                </div>
            </div>
            <div class="fields">
                <div class="twelve wide required field" id="origin_field">
                    <label>Origine de la sollicitation</label>
                    <div id="origin_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="origin"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Origine...</div>
                        <div class="menu">
                            <!-- ORIGINS WILL GO HERE -->
                        </div>
                    </div>
                </div>
                <div id="field_field" class="twelve wide required field">
                    <label>Domaine principal</label>
                    <div id="field_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="field"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Domaine...</div>
                        <div class="menu">
                            <!-- FIELDS WILL GO HERE -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div id="firm_field" class="eight wide required field">
                    <label>Société</label>
                    <div id="firm_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="firm"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Société...</div>
                        <div class="menu">
                            <!-- FIRMS WILL GO HERE -->
                        </div>
                    </div>
                </div>
                <div id="current_field" class="eight wide required field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="current">
                        <label>Je suis chargé d'affaires</label>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div id="mgmt_field" class="eight wide required field">
                    <label>Frais de gestion</label>
                    <input id="mgmt" type="number"/>
                </div>
                <div id="app_field" class="eight wide required field">
                    <label>Frais de dossier</label>
                    <input id="app" type="number"/>
                </div>
            </div>
            <div class="fields">
                <div id="rebilled_field" class="eight wide required field">
                    <label>Frais refacturés</label>
                    <input id="rebilled" type="number"/>
                </div>
                <div id="advance_field" class="eight wide required field">
                    <label>Acompte</label>
                    <input id="advance" type="number"/>
                </div>
            </div>
            <div class="fields">
                <div id="secret_field" class="eight wide required field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="secret">
                        <label>Etude confidentielle</label>
                    </div>
                </div>
                <div id="critical_field" class="eight wide required field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="critical">
                        <label>Etude critique (risquée)</label>
                    </div>
                </div>
            </div>
            <div class="ui hr_center small buttons">
                <div id="abort_btn" class="ui button" onClick="DoleticUIModule.cancelNewProjectForm();">Annuler
                </div>
                <div class="or" data-text="ou"></div>
                <div id="adduser_btn" class="ui green button" onClick="DoleticUIModule.insertNewProject();">
                    Ajouter
                </div>
            </div>
        </form>
    </div>
</div>