<div class="ui two column grid container">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui buttons">
                <div id="addsollic_modal_btn" class="ui green button" onClick="DoleticUIModule.showNewProjectForm();">
                    Ajouter une sollicitation
                </div>
                <div id="refresh_project_btn" class="ui olive button" onClick="DoleticUIModule.fillProjectsList();">
                    Actualiser
                    la
                    liste
                </div>
                <div id="excel_project_btn" class="ui yellow button" onClick="alert('Fonction non implémentée...')">
                    Exporter au
                    format Excel
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column" id="sollic_table_container">
            <div class="ui loader active"></div>
            <!-- SOLLIC LIST WILL GO THERE -->
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="ui modal" id="project_form_modal">
    <div class="ui segment">
        <form id="project_form" class="ui form vertical segment">
            <h4 class="ui dividing header">Ajout d'une sollicitation</h4>
            <div id="project_name_field" class="sixteen wide required field">
                <label>Nom</label>
                <input id="project_name" placeholder="Nom..." type="text"/>
            </div>
            <div id="project_description_field" class="sixteen wide required field">
                <label>Description</label>
                <textarea id="project_description" placeholder="Description..."></textarea>
            </div>
            <div class="fields">
                <div class="twelve wide required field" id="project_origin_field">
                    <label>Origine de la sollicitation</label>
                    <div id="project_origin_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="project_origin"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Origine...</div>
                        <div class="menu">
                            <!-- ORIGINS WILL GO HERE -->
                        </div>
                    </div>
                </div>
                <div id="project_field_field" class="twelve wide required field">
                    <label>Domaine principal</label>
                    <div id="project_field_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="project_field"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Domaine...</div>
                        <div class="menu">
                            <!-- FIELDS WILL GO HERE -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div id="project_firm_field" class="eight wide required field">
                    <label>Société</label>
                    <div id="project_firm_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="project_firm"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Société...</div>
                        <div class="menu">
                            <!-- FIRMS WILL GO HERE -->
                        </div>
                    </div>
                </div>
                <div id="project_current_field" class="eight wide required field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="project_current">
                        <label>Je suis chargé d'affaires</label>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div id="project_mgmt_field" class="eight wide required field">
                    <label>Frais de gestion</label>
                    <input id="project_mgmt" type="number"/>
                </div>
                <div id="project_app_field" class="eight wide required field">
                    <label>Frais de dossier</label>
                    <input id="project_app" type="number"/>
                </div>
            </div>
            <div class="fields">
                <div id="project_rebilled_field" class="eight wide required field">
                    <label>Frais refacturés</label>
                    <input id="project_rebilled" type="number"/>
                </div>
                <div id="project_advance_field" class="eight wide required field">
                    <label>Acompte</label>
                    <input id="project_advance" type="number"/>
                </div>
            </div>
            <div class="fields">
                <div id="project_secret_field" class="eight wide required field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="project_secret">
                        <label>Etude confidentielle</label>
                    </div>
                </div>
                <div id="project_critical_field" class="eight wide required field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="project_critical">
                        <label>Etude critique (risquée)</label>
                    </div>
                </div>
            </div>
            <div class="ui hr_center small buttons">
                <div id="project_abort_btn" class="ui button" onClick="DoleticUIModule.cancelNewProjectForm();">Annuler
                </div>
                <div class="or" data-text="ou"></div>
                <div id="addproject_btn" class="ui green button" onClick="DoleticUIModule.insertNewProject();">
                    Ajouter
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ui modal" id="disable_form_modal">
    <div class="ui segment">
        <form id="disable_form" class="ui form vertical segment">
            <h4 class="ui dividing header">Êtes-vous sûr(e) de vouloir désactiver l'étude ?</h4>
            <div class="field">
                <input type="hidden" id="disable_number" value="-1"/>
            </div>
            <div id="restoredate_field" class="sixteen wide required field">
                <label>Date de réactivation</label>
                <div class="ui calendar" id="disable_calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="restoredate" placeholder="AAAA-mm-jj" type="text"/>
                    </div>
                </div>
            </div>
            <div class="ui hr_center small buttons">
                <div id="abort_disable" class="ui button" onClick="DoleticUIModule.cancelDisableProjectForm();">Annuler
                </div>
                <div class="or" data-text="ou"></div>
                <div id="disable_btn" class="ui green button" onClick="DoleticUIModule.confirmDisableProject();">
                    Désactiver
                </div>
            </div>
        </form>
    </div>
</div>