<div class="four wide column">
    <div class="row">
        <div class="ui card">
            <div class="image">
                <a class="ui medium image" onClick="$('#upload_btn_avatar').click();" data-tooltip="Uploader un avatar"
                   data-position="right center">
                    <img id="user_avatar" src="/resources/image.png">
                </a>
            </div>
            <div class="content">
                <a id="user_fulname" class="header">Chargement...</a>
                <div class="meta">
                    <span class="date">Dernière connexion le <span
                            id="lastco_timestamp">Chargement...</span></span>
                </div>
                <div id="user_position" class="description">Chargement...</div>
            </div>
            <div class="extra content">
                <a onclick="DoleticUIModule.showEditProfileForm();">
                    <i class="user icon"></i>
                    Modifier mon profil
                </a>
                <br>
                <a onclick="DoleticUIModule.showEditPassForm();">
                    <i class="privacy icon"></i>
                    Modifier mon mot de passe
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <br><br>
    </div>
    <div class="row">
        <div class="ui segment">
            <h4 class="ui header">Liens utiles</h4>
            <div class="ui middle aligned selection list">
                <a class="item" href="http://webmail.etic-insa.com" target="_blank">
                    <i class="mail icon"></i>
                    <div class="content">
                        <div class="header">
                            Webmail Etic
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="twelve wide column">
    <div class="ui horizontal divider">
        Mes études
    </div>
    <div class="row" id="project_table_container">
    </div>
</div>
<div class="ui modal" id="profile_form_modal">
    <div class="ui segment">
        <form id="profile_form" class="ui form">
            <h4 class="ui header" id="form_header">Edition du profil de </h4>
            <div class="fields">
                <div id="profile_firstname_field" class="eight wide required field">
                    <label>Prénom</label>
                    <input id="profile_firstname" placeholder="Prénom..." type="text"/>
                </div>
                <div id="profile_lastname_field" class="eight wide required field">
                    <label>Nom</label>
                    <input id="profile_lastname" placeholder="Nom..." type="text"/>
                </div>
            </div>
            <div class="fields">
                <div class="twelve wide required field" id="profile_gender_field">
                    <label>Civilité</label>
                    <div id="profile_gender_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="profile_gender"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Civilité...</div>
                        <div class="menu">
                            <!-- GENDERS WILL GO HERE -->
                        </div>
                    </div>
                </div>
                <div id="profile_birthdate_field" class="twelve wide required field">
                    <label>Date de naissance</label>
                    <div class="ui calendar" id="profile_birthdate_calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="profile_birthdate" placeholder="AAA-mm-jj" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div id="profile_tel_field" class="twelve wide required field">
                    <label>Numéro de téléphone</label>
                    <input id="profile_tel" placeholder="0000000000" type="text"/>
                </div>
                <div id="profile_mail_field" class="twelve wide required field">
                    <label>Adresse mail</label>
                    <input id="profile_mail" placeholder="exemple@domaine.com" type="text"/>
                </div>
            </div>
            <div id="profile_address_field" class="sixteen wide required field">
                <label>Adresse</label>
                <input id="profile_address" placeholder="X rue de ..." type="text"/>
            </div>
            <div class="fields">
                <div id="profile_postalcode_field" class="twelve wide required field">
                    <label>Code postal</label>
                    <input id="profile_postalcode" placeholder="00000" type="text"/>
                </div>
                <div id="profile_city_field" class="twelve wide required field">
                    <label>Ville</label>
                    <input id="profile_city" placeholder="Ville..." type="text"/>
                </div>
            </div>
            <div class="sixteen wide required field" id="profile_country_field">
                <label>Pays</label>
                <div id="profile_country_search" class="ui fluid search selection dropdown">
                    <input type="hidden" id="profile_country"/>
                    <i class="dropdown icon"></i>
                    <div class="default text">Pays...</div>
                    <div class="menu">
                        <!-- COUNTRIES WILL GO HERE -->
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide required field" id="profile_schoolyear_field">
                    <label>Année d'étude</label>
                    <div id="profile_schoolyear_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="profile_schoolyear"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Année...</div>
                        <div class="menu">
                            <!-- YEARS WILL GO HERE -->
                        </div>
                    </div>
                </div>
                <div class="sixteen wide required field" id="profile_dept_field">
                    <label>Département</label>
                    <div id="profile_dept_search" class="ui fluid search selection dropdown">
                        <input type="hidden" id="profile_dept"/>
                        <i class="dropdown icon"></i>
                        <div class="default text">Département...</div>
                        <div class="menu">
                            <!-- DEPTS WILL GO HERE -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui hr_center small buttons">
                <div id="profile_abort_btn" class="ui button" onClick="DoleticUIModule.cancelProfileForm();">Annuler
                </div>
                <div class="or" data-text="ou"></div>
                <div id="profile_btn" class="ui green button" onClick="DoleticUIModule.updateProfile();">
                    Confirmer
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ui small modal" id="pass_form_modal">
    <div class="ui segment">
        <form id="pass_form" class="ui form">
            <h4 class="ui header">Modification du mot de passe</h4>
            <div id="uname_field" class="sixteen wide required field">
                <label>Nom d'utilisateur</label>
                <input id="uname" type="text" readonly/>
            </div>
            <div id="oldpass_field" class="sixteen wide required field">
                <label>Ancien mot de passe</label>
                <input id="oldpass" type="password"/>
            </div>
            <div id="newpass_field" class="sixteen wide required field">
                <label>Nouveau mot de passe</label>
                <input id="newpass" type="password"/>
            </div>
            <div id="confirm_field" class="sixteen wide required field">
                <label>Confirmer le mot de passe</label>
                <input id="confirm" type="password"/>
            </div>
            <div class="ui hr_center small buttons">
                <div id="abort_pass" class="ui button" onClick="DoleticUIModule.cancelPassForm();">Annuler
                </div>
                <div class="or" data-text="ou"></div>
                <div id="pass_btn" class="ui green button" onClick="DoleticUIModule.updatePassword();">
                    Confirmer
                </div>
            </div>
        </form>
    </div>
</div>