<form id="contact_form" class="ui form segment">
    <h4 class="ui dividing header">Ajout d'un contact</h4>
    <div class="fields">
        <div id="contact_firstname_field" class="eight wide required field">
            <label>Prénom</label>
            <input id="contact_firstname" placeholder="Prénom..." type="text"/>
        </div>
        <div id="contact_lastname_field" class="eight wide required field">
            <label>Nom</label>
            <input id="contact_lastname" placeholder="Nom..." type="text"/>
        </div>
    </div>
    <div class="fields">
        <div class="four wide required field" id="contact_gender_field">
            <label>Civilité</label>
            <div id="contact_gender_search" class="ui fluid search selection dropdown">
                <input type="hidden" id="contact_gender"/>
                <i class="dropdown icon"></i>
                <div class="default text">Civilité...</div>
                <div class="menu">
                    <!-- GENDERS WILL GO HERE -->
                </div>
            </div>
        </div>
        <div class="four wide required field" id="contact_type_field">
            <label>Type de contact</label>
            <div id="contact_type_search" class="ui fluid search selection dropdown">
                <input type="hidden" id="contact_type"/>
                <i class="dropdown icon"></i>
                <div class="default text">Type...</div>
                <div class="menu">
                    <!-- CONTACT TYPES WILL GO HERE -->
                </div>
            </div>
        </div>
        <div id="contact_email_field" class="eight wide field">
            <label>Mail</label>
            <input id="contact_mail" placeholder="Mail..." type="text"/>
        </div>
    </div>
    <div class="fields">
        <div id="contact_tel_field" class="eight wide field">
            <label>Téléphone</label>
            <input id="contact_tel" placeholder="0000000000" type="text"/>
        </div>
        <div id="contact_cell_field" class="eight wide field">
            <label>Téléphone mobile</label>
            <input id="contact_cell" placeholder="0000000000" type="text"/>
        </div>
    </div>
    <div class="fields">
        <div class="eight wide required field" id="contact_firm_field">
            <label>Société</label>
            <div id="contact_firm_search" class="ui fluid search selection dropdown">
                <input type="hidden" id="contact_firm"/>
                <i class="dropdown icon"></i>
                <div class="default text">Type...</div>
                <div class="menu">
                    <!-- FIRMS WILL GO HERE -->
                </div>
            </div>
        </div>
        <div id="contact_role_field" class="eight wide field">
            <label>Poste</label>
            <input id="contact_role" placeholder="Role..." type="text"/>
        </div>
    </div>
    <div id="contact_origin_field" class="sixteen wide field">
        <label>Origine des coordonnées</label>
        <input id="contact_origin" placeholder="Origine..." type="text"/>
    </div>
    <div class="fields">
        <div id="sdatei_field" class="eight wide field">
            <label>Prochaine prospection</label>
            <div class="ui calendar" id="contact_nextCallDate_field">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input id="sdatei_nextCalldate" placeholder="AAAA-mm-jj" type="text"/>
                </div>
            </div>
        </div>
        <div class="four wide required field" id="contact_prospected_field">
            <label>Issu de la prospection</label>
            <div id="contact_prospected_search" class="ui fluid search selection dropdown">
                <input type="hidden" id="contact_prospected"/>
                <i class="dropdown icon"></i>
                <div class="default text">Prospecté ?</div>
                <div class="menu">
                    <div class="item" data-value="1">Oui</div>
                    <div class="item" data-value="0">Non</div>
                </div>
            </div>
        </div>
        <div class="four wide required field" id="contact_error_field">
            <label>Etat des coordonnées</label>
            <div id="contact_error_search" class="ui fluid search selection dropdown">
                <input type="hidden" id="contact_error"/>
                <i class="dropdown icon"></i>
                <div class="default text">Etat...</div>
                <div class="menu">
                    <div class="item" data-value="-1">Correctes</div>
                    <div class="item" data-value="1">Erronées</div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact_notes_field" class="sixteen wide field">
        <label>Notes</label>
        <textarea id="contact_notes" placeholder="Notes..."></textarea>
    </div>
    <div class="ui hr_center small buttons">
        <div id="contact_abort_btn" class="ui button" onClick="DoleticUIModule.clearNewContactForm();">Annuler</div>
        <div class="or" data-text="ou"></div>
        <div id="addcontact_btn" class="ui green button" onClick="DoleticUIModule.insertNewContact();">Ajouter
        </div>
    </div>
</form>