<div class="ui two column grid container">
    <div class="row">
        <div class="eleven wide column">
            <div class="ui buttons">
                <div id="prospect_modal_btn" class="ui green button" onClick="alert('Fonction non implémentée...')">
                    Ajouter une prospection
                </div>
                <div id="refresh_prospect_btn" class="ui olive button" onClick="alert('Fonction non implémentée...')">
                    Actualiser la liste
                </div>
                <div id="excel_prospect_btn" class="ui yellow button" onClick="alert('Fonction non implémentée...')">
                    Exporter au format Excel
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column" id="prospect_table_container">
            <div class="ui loader active"></div>
            <!-- PROSPECTION TABLE WILL GO HERE -->
        </div>
    </div>
    <div class="row">
    </div>
</div>